<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>$(FLUTTER_BUILD_NAME)</string>
    <key>CFBundleVersion</key>
    <string>$(FLUTTER_BUILD_NUMBER)</string>
    <key>LSMinimumSystemVersion</key>
    <string>$(MACOSX_DEPLOYMENT_TARGET)</string>
    <key>NSHumanReadableCopyright</key>
    <string>$(PRODUCT_COPYRIGHT)</string>

    <!-- Camera permission -->
    <key>NSCameraUsageDescription</key>
    <string>We need access to your camera to take photos and videos.</string>

    <!-- Microphone permission -->
    <key>NSMicrophoneUsageDescription</key>
    <string>We need access to your microphone for recording audio.</string>

    <!-- Location permission (if your app needs location services) -->
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>We need access to your location to enhance the app experience.</string>

    <!-- Photo Library access permission -->
    <key>NSPhotoLibraryUsageDescription</key>
    <string>We need access to your photo library for selecting photos.</string>

    <!-- Phone call permission -->
    <key>NSContactsUsageDescription</key>
    <string>We need access to your contacts to enable phone call features.</string>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>We need access to Bluetooth to connect to devices during phone calls.</string>

    <!-- SMS permission -->
    <key>NSMessageUsageDescription</key>
    <string>We need access to send and receive SMS messages.</string>

    <!-- Post Notifications permission -->
    <key>NSUserNotificationUsageDescription</key>
    <string>We need access to send you notifications for important updates.</string>

    <!-- Internet access permission -->
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
    </dict>

    <!-- Permissions for Background Fetch -->
    <key>UIBackgroundModes</key>
    <array>
        <string>fetch</string>
        <string>remote-notification</string>
    </array>

    

    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>youtube</string>
    </array>


    <!-- Boot Completed (iOS equivalent for launching the app on boot) -->
    <key>UIBackgroundModes</key>
    <array>
        <string>fetch</string>
        <string>remote-notification</string>
    </array>
</dict>
</plist>
